name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8']
        toxenv: [quality, docs, 'py38']
    env:
      RUNJSHINT: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: x64
      - run: pip install -r requirements/ci.txt
      - name: Run tox
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: tox
      - name: Run code coverage
        if: matrix.python-version == '3.8' && matrix.toxenv=='py38'
        uses: codecov/codecov-action@v3
        with:
            fail_ci_if_error: true

